@import url(./_reset.css);
@import url(./_fonts.css);
@import url(./_vars.css);

*, *:after, *:before {
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}