:root {
  /* TODO: Значения max и min для того, чтобы стили не перезаписывали друг друга */
	/* TODO: Переменные не работают в обычном css с media query. Необходимо подключить postCSS-плагин */

  /* breakpoints */
  /* --desktop-fhd-max: 1536px;
  --desktop-fhd-min: 1201px;
  --desktop-hd-max: 1200px;
  --desktop-hd-min: 993px;
  --notebook-max: 992px;
  --notebook-min: 769px;
  --phone-hd-max: 768px;
  --phone-hd-min: 321px;
  --phone: 320px; */


  /* fonts */
  --inter-light: 'Inter-Light', sans-serif;
  --inter-semiBold: 'Inter-SemiBold', sans-serif;


  /* text colors */
  --text-gray-100: #F2F2F2;
  --text-black-900: #000;


  /* background colors */
  --bg-gray-800: #828282;
  --bg-beige-900: #A6806B;
  --bg-red-800: #A61C1C;
}


/* mixins */
.bg-gray-800 {
  background-color: var(--bg-gray-800);
}

.bg-beige-900 {
  background-color: var(--bg-beige-900);
}

.bg-red-800 {
  background-color: var(--bg-red-800);
}