@import url(./_reset.css);

body {
  min-height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  padding: 25px;
  height: 450px;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blur-bg {
  position: relative;
  height: 100%;
  width: 100%;
}

.post-edit.blur-bg:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 2;
}

.posts, .post-add, .post-edit {
  position: relative;
  font-family: 'Roboto', sans-serif;
  padding: 25px;
  border: 2px solid #000;
  width: fit-content;
  transition: all .3s;
}

.post-add {
  margin-bottom: 25px;
}

.posts {
  overflow-y: scroll;
}

.posts::-webkit-scrollbar {
  width: 5px;
}

.posts::-webkit-scrollbar-track {
  background-color: orange;
}

.posts::-webkit-scrollbar-thumb {
  background-color: #00f;  
}


.posts > ul {
}

.posts > ul > li {
  
}

.posts > ul > li:not(:last-child) {
  margin-bottom: 25px;
}

.posts .input-fields {

}

.input-fields > input {
  border: none;
  padding: 5px 10px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: all .3s;
}

.input-fields > input:nth-child(1) {
  background-color: #0f0;
}

.input-fields > input:nth-child(1):hover {
  background-color: rgb(0, 160, 0);
}

.input-fields > input:nth-child(2) {
  background-color: #f00;
}

.input-fields > input:nth-child(2):hover {
  background-color: rgb(160, 0, 0);
}

.post-add, .post-edit {

}

.post-add__title, .post-edit__title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 25px;
}

.post-add .input-field, .post-edit .input-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-add .input-field:not(:last-child), .post-edit .input-field:not(:last-child) {
  margin-bottom: 10px;
}

.post-add .input-field > label {

}

.post-add .input-field [type="text"], .post-edit .input-field [type="text"] {
  width: 50%;
}

.post-add .input-field [type="submit"], .post-edit .input-field [type="submit"] {
  border: none;
  background-color: #00f;
  color: #fff;
  width: 100%;
  padding: 15px;
  cursor: pointer;
  transition: all .3s;
}

.post-add .input-field [type="submit"]:hover, .post-edit .input-field [type="submit"]:hover {
  background-color: rgb(0, 0, 160);
}

.random-image {
  box-sizing: border-box;
  border: 2px solid #000;
  width: 250px;
  height: 300px;
}

.random-image__wrapper {
  width: 100%;
  height: 250px;
}

.random-image__wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.random-image__form {
  position: relative;
  box-sizing: border-box;
  height: 46px;
  transition: all .3s;
}

.random-image__form > input {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #00f;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

.random-image__form > .success {
  background-color: #0f0;
  font-size: 18px;
  position: absolute;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all .3s;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}